// src/styles/main.scss
@use "globals" as *; 
@use "layout";

// Estilos de componentes globales
@use "header"; 
@use "footer";

// Estilos de las páginas específicas (Landing y Formulario)
@use "landing";
@use "formulario";