// src/styles/main.scss
@use "globals" as *; 
@use "layout";

// Componentes modulares
@use "header"; // Con el código del header
@use "footer"; // Con el código del footer

// Páginas específicas
@use "index"; // Con el código de hero y content
@use "formulario";